---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Juan Ignacio Molina"
	  position="Full Stack Developer"
	  aboutMe={`¡Hola! Soy Juan, un desarrollador web experimentado apasionado por crear sitios web limpios y dinámicos. 
Me especializo en desarrollo front-end y back-end utilizando HTML, CSS, JavaScript y frameworks como React y Next. 
Disfruto creando diseños centrados en el usuario y optimizando el rendimiento para experiencias de navegación fluidas. ¡Trabajemos Juntos!`}
	  linkedin="https://www.linkedin.com/in/juan-ignacio-molina/"
	  github="https://github.com/JuaniMolina"
	  cvLink="/files/Juan Ignacio Molina - Desarrollador.pdf"
	  profileImage="/images/Nacho.png"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->